@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #0F172A;
  color: white;
}


.active::after{
    content: '';
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    border-radius: 20px;
    bottom: -4px;
    background-color: white;
    position: absolute;
}
